{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": [
        "airbnb/base"
    ],
    "rules": {
        "no-plusplus": "off",
        "eol-last": "off",
        "no-shadow": "off",
        "require-jsdoc": "error",
        "operator-linebreak": "off",
        "no-unused-vars": "warn",
        "linebreak-style": [
            "error",
            "windows"
        ],
        "object-curly-spacing": [
            "error",
            "always"
        ],
        "no-console": "error",
        "arrow-parens": "off",
        "indent": [
            "error",
            2
        ],
        "max-len": [
            "error",
            120,
            {
                "ignoreRegExpLiterals": true
            }
        ]
    }
}
