@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

$transition: 230ms;
$mainColor: #ff7f50;
$secondColor: #9370db;
$labelColor: #a59f9f;

*, html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main {
    height: 100vh;
}

.form-container {
    font-family: 'Raleway', sans-serif;
    width: 90%;
    max-width: 600px;
    padding: 30px 20px;
    margin: auto;
    font-size: 20px;

    header {
        margin: 1.5em 0;
    }

    & * {
        box-sizing: border-box;
    }

    small {
        visibility: hidden;
        font-style: italic;
        color: red;
        font-size: 0.8em;

        &.visible {
            visibility: visible;
        }
    }


    .input-container {
        position: relative;
        margin: 1em 0;

        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 1.2em;
            height: 3px;
            width: 0;
            background-color: $secondColor;
            transition: width $transition ease-in;
        }

        &:focus-within:after {
            width: 100%;
        }


        &.invalid {
            color: red;

            input {
                color: red !important;
            }
        }

        input[type="email"],
        input[type="text"],
        input[type="tel"],
        input[type="search"],
        input[type="password"],
        input[type="number"] {
            display: block;
            padding: 10px;
            width: 100%;
            outline: none;
            border: none;
            color: $mainColor;
            font-size: 1.2em;
            line-height: 1.15;
            border-bottom: 2px dashed $labelColor;

            & ~ label {
                position: absolute;
                left: 10px;
                color: $labelColor;
                transform: translateY(-70%);
                top: 0;
                font-size: 0.8em;
            }

            &:placeholder-shown {
                & ~ label {
                    font-size: 1em;
                    top: 35%;
                    transform: translateY(-50%);
                    transition: $transition ease-in;
                }
            }

            &:valid {
                color: #70ac13;
            }

            &:invalid {
                outline: none;
                box-shadow: none;
                color: red;
            }


            &:focus {

                & ~ label {
                    transform: translateY(-70%);
                    top: 0;
                    font-size: 0.8em;
                }

                border-bottom-color: transparent;
            }
        }
    }


    button {
        width: 100%;
        text-align: center;
        color: #fff;
        background-color: $secondColor;
        display: inline-block;
        padding: 0.3em 0.8em;
        border-radius: 8px;
        font-size: 2em;
        outline: none;
        box-shadow: none;
        border: none;

        &:active {
            font-size: 1.95em;
            box-shadow: inset 0 0 5px 2px rgba(86, 19, 224, 0.8);
        }
    }
}
